<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E Pass Registration Status</title>
    <style>
    body{
        background-color:#5CDB95
        }
        table{
    padding:3%;

    }
    table td{
    font-size:30px;
    padding:3%;
    font-family:sans-serif;
    }


    </style>
</head>
<body>
<center><h1>E-Pass Application Status</h1></center>
    <table class = "table">
        <tr>
            <td>Full Name</td>
            <td>:&nbsp&nbsp{{var}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:&nbsp&nbsp{{var1}}</td>
        </tr>
        <tr>
            <td>ID Proof</td>
            <td>:&nbsp&nbsp{{var2}}</td>
        </tr>
        <tr>
            <td>Source State</td>
            <td>:&nbsp&nbsp{{var3}}</td>
        </tr>
        <tr>
            <td>Source District</td>
            <td>:&nbsp&nbsp{{var4}}</td>
        </tr>
        <tr>
            <td>Destination State</td>
            <td>:&nbsp&nbsp{{var5}}</td>
        </tr>
        <tr>
            <td>Destination District</td>
            <td>:&nbsp&nbsp{{var6}}</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>:&nbsp&nbsp{{var7}}</td>
        </tr>
        <tr>
            <td>Date of Travel</td>
            <td>:&nbsp&nbsp{{var8}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td style = "color:red">:&nbsp&nbsp{{var9}}</td>
        </tr>

    </table>
</body>
</html>